@model IEnumerable<PharmaQueue.Models.ApplicationUser>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <h2>Welcome to Bangazon!</h2>
    <div class="row" style="overflow: hidden">
        @foreach (var item in Model)
        {
            <div class="col-md-3" style="border: 4px white solid; background: white; color: #000000; word-wrap: break-word; text-align: center; margin-bottom: -99999px; padding-bottom: 99999px;">
                <div style="font-size:20px; font-style: italic; height: 62px; overflow: hidden;">
                    @Html.DisplayFor(modelItem => item.FirstName)
                    @Html.DisplayFor(modelItem => item.LastName)
                </div>
            </div>
        }
    </div>
</div>