@model IEnumerable<PharmaQueue.Models.ApplicationUser>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <h2>Welcome to PharmaQueue!</h2>
    @if (Model != null)
    {
    <div class="row" style="overflow: hidden">
        @foreach (var item in Model)
        {
            <div class="col-md-3" style="border: 4px white solid; background: white; color: #000000; word-wrap: break-word; text-align: center; margin-bottom: -99999px; padding-bottom: 99999px;">
                <div style="font-size:20px; font-style: italic; height: 62px; overflow: hidden;">
                    @Html.DisplayFor(modelItem => item.FirstName)
                    @Html.DisplayFor(modelItem => item.LastName)
                </div>
            </div>
        }
    </div>
    }
    @if (Model == null)
    {
        <div>
            <h3>You are not authorized to view this page</h3>
        </div>
    }
</div>